* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		width: 100%;
	}
	.header {
		background-color: #fff;
		display:flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 30px;
	}
	.content-wrap {
		background: url(images/train-bg.jpg) no-repeat;
		background-position: center;
		background-size: cover;
		text-align: center;
		min-height: 90vh;
		position: relative;
	}
	.menu ul{
		list-style: none;
		display: flex;
	}
	.menu a {
		text-decoration: none;
		color: #213d77;
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 1.2px;
		font-weight: 700;
		transition: all 0.3s;
	}
	.menu a:hover{
		color: #fb792b;
	}
	.menu ul li {
		margin-right: 15px;
	}
	.menu ul li:last-child {
		margin-right: 0;
	}
	.logo {
		height: 60px;
	}
	
	.page-title{
		color: #fff;
		position: absolute;
		top: 50%;
		left: 40px;
		font-size: 45px;
		transform: translateY(-50%);
	}
	.footer{
		background-color: #282a2b;
		color: #fff;
		display: flex;
		padding: 30px 40px;
		justify-content: space-between;
	}
	.social-icon i {
		color: #fff;
		font-size: 20px;
		margin-right: 10px;
	
	}
	.align-center {
		text-align: center;
	}
	.user-form-wrap {
		background: url(images/train-bg-form.jpg) center/cover no-repeat;
		min-height: 90vh;
		padding-top: 50px;
		
	}
	.user-login-wrap {
		background: url(images/train-bg-login.jpg) center/cover no-repeat;
		min-height: 90vh;
		padding-top: 50px;
		text-align: center;
	}
	.btn{
		margin-top: 30px;
		padding: 10px 30px;
		background: #ff7928;
		border: 0;
		color: #fff;
		border-radius: 10px;
		text-decoration: none;
		font-size: 14px;
	}
	.btn-link {
		color: #fff;
	}
	.btn-link:hover {
		text-decoration: none;
	}
	.enquiry-form{
		min-height: 80vh;
		padding-top: 20vh;
		background: #3a5a9c;
		
	}
	form{
		font-size: 16px;
		background: #fff;
		display: inline-block;
		text-align: center;
		width: auto;
		color: #000;
		padding: 30px;
		border-radius: 20px;
	}
	.user-form-wrap form {
		margin-left: 10%;
	}
	.admin-login-form{
		min-height: 80vh;
		padding-top: 20vh;
		background: #3a5a9c;
	}
	.enquiry-result-wrap {
		color: #fff;
		font-size: 20px;
		min-height: 80vh;
		padding: 40px;
		background: #3a5a9c;
	}
	.enquiry-result-wrap form {
		margin-top: 30px;
	}
	.content-area{
		min-height: 80vh;
		text-align: center;
		background: #3a5a9c;
		padding-top: 20vh;
		color: #fff;
	}
	.content-area table{
		color: #fff;
		margin: 20px auto;
	}
